body {
  padding: 10px;
  font-family: sans-serif;
}

[name=tskname]{
	border:none;
	font-family: "Times New Roman";
	font-size: 100%;
	padding:0.15em;
	background-color: transparent;
}

.checked [name=tskname]{
	text-decoration:line-through;
	color: grey;
	font-size: 1.5rem;
}